body {
    background-color: white;
}

.bg-image {
    height: 80vh;
    background-size: cover;
    background-position: center center;
}


div.main {
    margin-top: 75px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
.btn-white {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
